html
{
	font-size: 50px;
	font-family: "Open Sans", sans-serif;
	background-color: #03fcba;
}

body
{
	width: 600px;
	margin: 0 auto;
	background-color: #8b9699;
	padding: 20px 20px 20px 20px;
	border: 5px solid black;
}
